body{
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
}



#calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(55, 54, 54);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    justify-content: center;

    

    
    
}
#display{
    width:100%;
    padding: 40px;
    font-size: 4rem;
    text-align: left;
    border:none;
    background-color: rgb(98, 98, 98);
    color: white;
}






    button{
    width:100px;
    height:100px;
    border-radius:50px;
    border:none;
    background-color:rgb(0, 0, 0);
    color:white;
    font-size:3rem;
    font-weight:bold;
    cursore:pointer;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    padding: 10px;
}






button{
    width:80px;
    height:80px;
    border-radius:60px;
    border:none;
    background-color:rgb(30, 30, 31);
    color:white;
    font-size:3rem;
    font-weight:bold;
    cursore:pointer;
}
button:hover{
    background-color: rgb(106, 106, 106);
}
button:active{
    background-color: rgb(106, 106, 106);
}
.opt-btn{
    background-color: rgb(219, 28, 22);
    font-size: 2rem;
}
.opt-btn:hover{
    background-color: rgb(155, 8, 3);
}
.opt-btn:active{
    background-color: rgb(155, 8, 3);
}
.del-btn{
    background-color: white;
    color: rgb(65, 64, 64);
    font-size: 2rem;
}
.opt-btn:hover{
    background-color: rgb(233, 227, 227);
}
.opt-btn:active{
    background-color: rgb(233, 227, 227);
}
